.gform_title {
  @include font-main;
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
}


.gform_fields {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  .gfield {
    flex: 0 0 100%;
    max-width: 100%;
    &.inline-at-md {
      @include responsive {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
    .ginput_container {
      padding: 1rem;
      padding-left: 0;
    }

    .ginput_container_name {
      label {
        display: none;
      }
    }

    .gfield_checkbox {
      list-style: none;
      padding: 0;
      input {
        vertical-align: middle;
        width: auto;
      }
    }
    input, textarea {
      background: transparent;
      color: white;
      height: 40px;
      width: 100%;

      font-size: 1.4rem;
      border: 1px solid white;
      border-radius: 2px;
      padding: .7rem 1rem;
      &::placeholder {
        color: white;
      }

    }

    textarea {
      height: 100px;
    }
    .gfield_label {
      display: none;
    }
  }
}

.gform_footer {
  input {
    background: $green-light;
    color: white;
    border: 0;
    cursor: pointer;
    &:hover {
      background: white;
      color: $green-light;
    }

  }
}

.validation_error {
  color: white;
  font-size: 1.4rem;
}

.gfield_description.validation_message {
  color: white;
}

.gform_confirmation_wrapper {
  padding: 2rem;
  .gform_confirmation_message {
    color: white;
    font-size: 1.4rem;
  }
}

.ui-widget {
  background-color: $green;
  padding: .5rem;
  max-width: 100%;
  width: 300px;
  .ui-datepicker-header {
    display: flex;
    .ui-datepicker-prev {
      order: 1;
      // flex: ;
      color: white;
    }
    .ui-datepicker-next {
      order: 3;
      // flex: 1;
      text-align: right;
      color: white;
    }
    .ui-datepicker-title {
      order: 2;
      flex: 1;
      text-align: center;
      select {
        font-size: 1.4rem;
        // padding: .5rem;
      }
    }
  }
  .ui-datepicker-calendar {
    width: 100%;
    color: white;
    td a {
      color: white;
      &:hover {
        color: white;
      }
    }
  }
}
