// Mixins

@mixin font-main {
  font-family: "paralucent-stencil",sans-serif;
  font-style: normal;
  font-weight: 900;
  @content;
}

@mixin background-image($position: center, $size: cover, $repeat: no-repeat) {
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
  @content;
}

@mixin texture {
  @include background-image(top left, auto, repeat) {
    background-image: url('../assets/img/texture.svg');
  }
}
 
@mixin responsive($breakpoint: $break) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
