// typography

html {
  font-size: 10px;
}

h1 {
  @include font-main {
    font-size: 4.8rem;
  }
}

h2 {
  @include font-main {
    font-size: 3.6rem;
  }
}

h3 {
  @include font-main {
    font-size: 3.6rem;
    color: $green;
    text-transform: uppercase;
  }
}

h4 {
  @include font-main {
    font-size: 2.6rem;
    color: $green;

  }
}

h5 {
  font-family: Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: $grey;
}

h6 {
  @include font-main {

  }
}

a, p, li {
  font-family: Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: $grey;
}

a {
  color: $green;
  &:hover {
    color: darken($green, 12%);
  }
}

.font-main {
  @include font-main;
}
