// Colors

$green: #478E41;
$green-light: #97AA3A;
$green-dark: #547334;
$green-menu: #6F7832;
$grey: #454545;
$dark: #777777;
$tan: #BFB089;

$block-background: rgba(lighten(black, 5), .65);



// Sizes

$break: 768px;

$content-width: 800px;
