@import 'buttons';
@import 'hero';
@import 'donate';
@import 'sponsors';
@import 'regular-content';
@import 'callout-text';
@import 'slider';
@import 'image-slider';
@import 'snippets';
@import 'testimonial';
@import 'cta-button';
@import 'subscribe-form';
@import 'cta-contact-row';
@import 'application-form';
@import 'alert';



.page-title {
  text-align: center;

  .text {
    color: $green;
    text-transform: uppercase;
  }

  &.color-white {
    .text {
      color: white;
    }
  }

  @media (min-width: $break) {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 calc(10vw - 1rem);
    .line {
      height: 2px;
      background-color: $green;
      flex: 1 1 auto;
    }
    &.color-white {
      .line {
        background-color: white;
      }
    }
    .text {
      padding: 0 1rem;
      flex: 0 0 auto;
    }
  }
}
