@import 'hero';
@import 'donate';
@import 'sponsors';
@import 'regular-content';
@import 'callout-text';
@import 'slider';
@import 'image-slider';
@import 'snippets';
@import 'testimonial';
@import 'cta-button';
@import 'subscribe-form';
@import 'cta-contact-row';


.button {
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 2rem;
  padding: 1rem 2rem;

  border: 1px solid;
  margin: 1rem 0;
  @include font-main;
  display: inline-block;
  transition: all .25s;
  &:hover {
    text-decoration: none;
  }
}

a, button, input {
  &:focus {
    outline: rgba($green-dark, .3) auto 5px;
  }
}

.page-title {
  text-align: center;

  .text {
    color: $green;
    text-transform: uppercase;
  }

  &.color-white {
    .text {
      color: white;
    }
  }

  @media (min-width: $break) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 calc(10vw - 1rem);
    .line {
      height: 2px;
      background-color: $green;
      flex: 1 1 auto;
    }
    &.color-white {
      .line {
        background-color: white;
      }
    }
    .text {
      padding: 0 1rem;
      flex: 0 0 auto;
    }
  }
}
