@import 'hero';
@import 'donate';
@import 'sponsors';
@import 'regular-content';
@import 'callout-text';
@import 'slider';
@import 'image-slider';


.button {
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 2rem;
  padding: 1rem 2rem;

  border: 1px solid;
  margin: 1rem 0;
  @include font-main;
  display: inline-block;
  transition: all .25s;
  &:hover {
    text-decoration: none;
  }
}
