.hero {
  margin: 0 -15px;
  position: relative;
  height: 400px;
  overflow: hidden;
  @include responsive(1000px) {
    height: 450px;
  }
  @include responsive(1200px) {
    height: 500px;
  }

  .hero-image {
    clip-path: url(#heroClip);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &.align-top {
      object-position: top;
    }
    &.align-right {
      object-position: right;
    }
    &.align-left {
      object-position: left;
    }
    &.align-bottom {
      object-position: bottom;
    }
  }

  .hero-bottom {
    position: absolute;
    bottom: -2px;
    height: 100%;
    width: auto;
    left: 0;
    transform: rotate(180deg);
    @include responsive(1350px) {
      width: 100%;
      height: auto;
    }
  }

  &__heading {
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -25%;
    text-transform: uppercase;
    @include responsive {
      margin: 0;
    }
  }
}
