.regular-content {
  margin: 0 -15px;
  padding: 2rem 1rem;
  &__title {
    text-align: center;

    @media (min-width: $break) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      padding: 0 calc(10vw - 1rem);
      .line {
        height: 2px;
        background-color: $green;
        flex: 1 1 auto;
      }
      .text {
        padding: 0 1rem;
        color: $green;
        flex: 0 0 auto;
      }
    }
    &--color-white {
      @extend .regular-content__title;
      .line {
        background-color: white;
      }
      .text {
        color: white;
      }
    }
  }
  &--texture {
    @extend .regular-content;
    @include texture;
  }
  &__content {
    width: $content-width;
    max-width: 100%;
    padding: 2rem 2rem .5rem;
    margin: 0 auto;

    h3 {
      color: $green;
    }
    &--color-white * {
      @extend .regular-content__content;
      color: white;
    }
    &--2-cols {
      @extend .regular-content__content;
      padding-top: .5rem;
      @include responsive {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
    &--3-cols {
      @extend .regular-content__content;
      padding-top: .5rem;
      @include responsive {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
    }
    &--4-cols {
      @extend .regular-content__content;
      padding-top: .5rem;
      @include responsive {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
  }
}
