.regular-content {
  margin: 0 -15px;
  padding: 2rem 0;
  @include texture;
  &__title {
    text-align: center;
    @media (min-width: $break) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      .line {
        height: 2px;
        background-color: $green;
        flex: 1 1 auto;
      }
      .text {
        padding: 0 1rem;
        color: $green;
        flex: 0 0 auto;
      }
    }
  }
  &__content {
    width: $content-width;
    max-width: 100%;
    padding: 2rem;
    margin: 0 auto;
  }
}
