.sponsors {

  background-color: rgba($green-dark, .3);
  margin: -3rem -15px 0;
  padding: 5rem 1rem 2rem;

  @media (min-width: $break) {
    padding: 5rem 3rem 2rem;
  }

  display: flex;
  flex-flow: row wrap;

  &__heading {
    flex: 0 0 100%;

    color: $green-dark;
    text-transform: uppercase;
    text-align: center;

    padding: 1rem 2rem;
    @media (min-width: $break) {
      padding: 0 calc(10vw - 45px);

      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      span {
        &.line {
          height: 2px;
          background: $green-dark;
          flex: auto;
        }
        &.text {
          flex: 0 0 auto;
          padding: 0 1rem;
        }
      }
    }

  }

  &__list {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 3rem;
    li {
      color: $green-dark;
      @include font-main;
      font-size: 1.8rem;
      list-style: none;
      padding: 0 1rem;
      display: inline;
      white-space: nowrap;
      &:after {
        content: " \00b7";
        margin-left: 1rem;
      }
      &.nobullet:after {
        content: none;
      }
    }
  }

  &--top {
    @extend .sponsors;
    margin: 0 -15px -3rem;
    padding: 2rem 1rem 7rem;
    @include responsive {
      padding: 5rem 3rem 7rem;

    }
  }
}
